@model Product
<h2>Добавление нового продукта</h2>
<form method="post">
    <input asp-for="Name" placeholder="Название продукта">
    <span asp-validation-for="Name"></span>
    <br />
    <br />
    <input asp-for="Cost" placeholder="Цена продукта">
    <span asp-validation-for="Cost"></span>
    <br />
    <br />
    <input type="text" name="Description" placeholder="Описание продукта">
    <br />
    <br />
    <button type="submit" asp-controller="Admin" asp-action="Add">Добавить</button>
</form>
