<a asp-controller="Admin" asp-action="Orders">Заказы</a>
<br />
<a asp-controller="Admin" asp-action="Users">Пользователи</a>
<br />
<a asp-controller="Admin" asp-action="Roles">Роли</a>
<br />
<a asp-controller="Admin" asp-action="Products">Продукты</a>
