@using OnlineShop.DB.Models;
@model Order
<h1>Заказ успешно оформлен!</h1>

<h3>Model.Name, Ваш заказ:</h3>
<br>
@*<table>
	<tr>
		<td>Наименование</td>
		<td>Цена</td>
	</tr>
	@foreach (var item in Model.Prods)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Cost</td>
		</tr>
	}
</table>*@
<br>
<hr>
<div class="row">
	<div class="col-3">Итого к оплате: @Model.Total</div>
</div>

