@model ProductViewModel

<div class="row">
    <div class="col-3">
        @await Html.PartialAsync("Index")
    </div>
<div class="col-9">
<h2>Добавление нового продукта</h2>
<form method="post">
    <input asp-for="Name" placeholder="Название продукта">
    <span asp-validation-for="Name"></span>
    <br />
    <br />
    <input asp-for="Cost" placeholder="Цена продукта">
    <span asp-validation-for="Cost"></span>
    <br />
    <br />
    <input type="text" name="Description" placeholder="Описание продукта">
    <br />
    <br />
    <button type="submit" asp-controller="Home" asp-action="Add" asp-area="Admin">Добавить</button>
</form>
</div>
</div>  