@model CreateImageViewModel

<h2>Выберите изображение для @Model.Name</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label>Загрузить изображение</label>
        <input type="file" name="upLoaded"/>
    </div>
    <div>
        <a asp-area="Admin" asp-controller="Home" asp-action="EditProductImage" asp-route-model="@Model" class="btn btn-success">Изменить</a>
    </div>
</form>