@model Product

<div class="row">
    <div class="col-3">
        @await Html.PartialAsync("Index")
    </div>
 <div class="col-9">
<h2>Добавление нового продукта</h2>
<form method="post">
    <input asp-for="Name" value="@Model.Name">
    <span asp-validation-for="Name"></span>
    <br />
    <br />
    <input asp-for="Cost" value="@Model.Cost">
    <span asp-validation-for="Cost"></span>
    <br />
    <br />
    <input type="text" name="Description" value="@Model.Description">
    <br />
    <br />
    <button type="submit" asp-controller="Home" asp-action="UpdateProduct" asp-route-id="@Model.Id" asp-area="Admin">Обновить данные</button>
    <button type="submit" asp-controller="Home" asp-action="Product" asp-area="Admin">Отменить</button>
</form>
</div>
</div>