@model UserReg
<div class="row">
    <div class="col-3">
        @await Html.PartialAsync("Index")
    </div>
    <div class="col-9">
        <h2>Пользователь @Model.Name</h2>
        <hr />
        <br />
        <h5>Имя: @Model.Name</h5>
        <br />
        <h5>Email: @Model.Email</h5>
        <br />
        <h5>Номер телефона: @Model.Number</h5>
        <br />
        <br />
        
    </div>
</div>