html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cl1 {
    color: dimgray;
    font-size: 18px;
}

.search-input {
    width: 100%;
}

.search-button{
    width: 50%;
}

.card-main {
    width:30%;
}

.fa-red-heart {
    color:red
}

a.btn-active:hover {
    background-color: midnightblue;
    color: white;
    transition: all 1s ease;
}

a.btn-continue:hover {
    background-color: lightseagreen;
    color:darkslategray;
    transition: all 800ms ease;
    border-color: lightseagreen;
}

div.text-format {
    overflow-x: hidden;
    white-space: normal;
}

a.btn-mp{
    background-color: lightslategray;
    color: white;
    width: 40px;
}

a.btn-plus:hover{
    background-color: limegreen;
    color: black;
}
a.btn-minus:hover{
    background-color:orangered;
    color:black;
}
a.cart-prod-name {
    text-decoration: none;
}

a.cart-prod-name:hover {
    color: darkorange;
    transition: 1s all ease;
}