html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cl1 {
    color: dimgray;
    font-size: 18px;
}

.search-input {
    width: 100%;
}

.search-button{
    width: 50%;
}

.card-main {
    width:30%;
}

.fa-red-heart {
    color:red
}

a.btn-active:hover {
    background-color: midnightblue;
    color: white;
    transition: all 1s ease;
}