html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cl1 {
    color:aqua;
    font-size: 26px;
}

.search-input {
    width: 100%;
}

.search-button{
    width: 50%;
}

.card-main {
    width:32%;
}

.fa-red-heart {
    color:red
}