@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Product>

@if (Model == null || Model.Count() == 0)
{   
            <div class="d-flex flex-column">
                <div class="d-flex  justify-content-center ">
                    <h2>Нет товаров для сравнения</h2>
                </div>
                <div class="d-flex  justify-content-center ">
                    <a asp-controller="Home" asp-action="Index" class="btn-active btn btn-light">На главную</a>
                </div>
            </div>
}
else
{
    <table>
        <tr>
            <td>Наименование</td>
            @foreach (var product in Model)
            {
                    <td>@product.Name</td>
            }
        </tr>
        <tr>
            <td>Цена</td>
            @foreach (var product in Model)
            {
                    <td>@product.Cost</td>
            }
        </tr>
        <tr>
            <td>Описание</td>
            @foreach (var product in Model)
            {
                    <td>@product.Description</td>
            }
        </tr>
        <tr>
            <td>Действие</td>
            @foreach (var product in Model)
            {
                    <td><a href="/home/DeleteFromComparsion?productId=@product.Id" class="btn btn-danger">Удалить из сравнения</a></td>
            }

        </tr>
    </table>
}
