@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>


    <div class="row">
        @foreach (var product in Model)
        {

            <div class="card shadow col-3">
                <div class="card-body">
                    <img class="card-img-top" src="https://adpass.ru/wp-content/uploads/2022/02/1200px-YAndeks.svg.png">

                    <a href="/product/index/@product.Id"><h1>@product.Name</h1></a>
                    <h2>@product.Cost</h2>
                    <p id="1" class="cl1">@product.Description</p>
                <a href="/basket/adds?productId=@product.Id" class="btn btn-dark">Добавить в корзину</a>
                <br>
                @if (!product.Comparsion)
                {
                    <a href="/home/addToComparsion?productId=@product.Id" class="btn btn-info">Добавить в сравнение</a>
                }
                else
                {
                    <a href="/home/addToComparsion?productId=@product.Id" class="btn btn-info disabled">Добавить в сравнение</a>
                }
                <br>
                @if (!product.Favorite)
                {
                    <a href="/home/AddToFavorite?productId=@product.Id" class="btn btn-dark">Добавить в избранное</a>
                }
                else
                {
                    <a href="/home/DeleteFromFavoriteIndex?productId=@product.Id" class="btn btn-danger">Удалить из избранного</a>
                }

                </div>
            </div>

        }
    </div>





<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
