@model UserReg

<div class="text-center">
    <h2>Регистрация</h2>
    <form method="post">
        <div class="validation" asp-validation-summary="All">
        <label asp-for="Name">Логин</label><br />
        <input asp-for="Name">
        <span asp-validation-for="Name"></span>
        <br />
        <br />
        <label asp-for="Email">Почта</label><br />
        <input asp-for="Email">
        <span asp-validation-for="Email"></span>
        <br />
        <br />
        <label asp-for="Age">Возраст</label><br />
        <input asp-for="Age">
        <span asp-validation-for="Age"></span>
        <br />
        <br />
        <label asp-for="Number">Телефон</label><br />
        <input asp-for="Number" placeholder="8-800-555-35-35">
        <span asp-validation-for="Number"></span>
        <br />
        <br />
        <label asp-for="Password">Пароль</label><br />
        <input type="password" asp-for="Password">
        <span asp-validation-for="Password"></span>
        <br />
        <br />
        <label asp-for="Password2">Подтверждение пароля</label><br />
        <input type="password" asp-for="Password2">
        <span asp-validation-for="Password2"></span>
            <br /><br />
        <button type="submit" class="btn btn-dark" asp-controller="Register" asp-action="RegisterUser">Регистрация нового пользователя</button>
        <br /><br />
        </div>
    </form>
</div>
