@model UserInfo
<div class="text-center">
	<h2>Вход</h2>
	<form method="post">
		<input asp-for="Name" placeholder="Логин">
		<span asp-validation-for="Name"></span>
		<br />
		<br />
		<input asp-for="Password" type="password" placeholder="Пароль">
		<span asp-validation-for="Password"></span>
		<br />
		<br />
		<input type="checkbox" name="saveUser" id="save" />
		<label for="save">Запомнить пользователя</label>
		<br />
		<br />
		<button type="submit" class="btn btn-dark" asp-controller="Login" asp-action="TryToLogin">Войти</button>
		<br /><br />
	</form>
	<a class="btn btn-info" asp-controller="Register" asp-action="Index">Регистрация нового пользователя</a>
</div>
